.footer {
  background-color: #0f172a;
}
.footer-square {
  background-color: #14b8a6;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
}

.footer-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
}

.footer-link {
  color: #94a3b8;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
}

.footer .navbar-brand {
  color: white;
}
