.custom-input {
  height: 54px;
  border-radius: 18px;
  border: 1px solid #d8dee9;
  font-size: 15px;
}

.custom-input:focus {
  box-shadow: none;
  border-color: #20c5b5;
}

.form-select.custom-input {
  padding-left: 20px;
}

.form-check-input {
  border-radius: 5px;
}

.form-check-label a {
  color: #20c5b5;
  text-decoration: none;
  font-weight: 500;
}

.form-check-label a:hover {
  text-decoration: underline;
}
